<div class="main companys-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%=form_with url: companys_path do |f| %>
      <div class="form">
        <div class="form-body">
          <% @company.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <div class="form-body">
            銘柄コード<%= f.text_field :number %>
          </div>
          <div class="form-body">
            銘柄名<%= f.text_field :name %>
          </div>
          <div class="form-body">
            タグ<%= f.text_field :tag_name, placeholder:", で区切ってください"  %>
          </div>
          <div class="form-body">
            会社情報<%= f.text_field :information %>
          </div>
          <%= f.submit%>
        </div>
      </div>
    <% end %>
  </div>
</div>