<div class="main companys-index">
  <div class="container">
    <%= search_form_for @q, url: companys_path do |f| %>
      <%= f.label :name, "Keyword" %>
      <%= f.search_field :name_cont, placeholder: "銘柄名" %>

      <%= f.submit "検索" %>
    <% end %>
  </div>
  <div class="container">
    <% @companys.each do |company| %>
      <div class="companys-index-item">
        <div class="company-right">
          <div class="company-user-name">
            <%= company.user.name %>
          </div>
          <%= link_to(company.name, "/companys/#{company.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>