<div class="main companys-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%=form_tag(companys_path, method: :post) do %>
      <div class="form">
        <div class="form-body">
          銘柄コード<input name="number"  value="<%= @company.number %>" class="form-control" />
        </div>
        <div class="form-body">
          企業名<input name="name" value="<%= @company.name %>" class="form-control" />
        </div>
        <div class="form-body">
          時価総額(百万)<input name="total" value="<%= @company.total %>" class="form-control" />
        </div>
        <div class="form-body">
          配当利回り(%)
          <p>⚠無配の場合は０を入力</p>
          <input name="dividend" value="<%= @company.dividend %>" class="form-control" />
        </div>
        <div class="form-body">
          会社情報
          <textarea name="information" class="form-control"><%= @company.information %></textarea>
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
</div>
